<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
   <div class="main-content">
    {{>header}}
    <p>This site is created by APURVA KUSUM!!</p>
    
    <img class="portrait" src="/img/me.jfif">
    </div>
    
    
</body>
<footer>
    {{>footer}}
</footer>
</html>